
/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    font-family:  Special Elite, Helvetica, sans-serif;
    color:white;

}
#bg-img{
   background-attachment: fixed; 
   background-image: url(https://images.unsplash.com/photo-1561140895-9d144461935e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
}

#bg-img-contact{
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1506197061617-7f5c0b093236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1005&q=80);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
 } 
 
 #bg-img-features{
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
 }

a:hover{
    text-decoration: none;
}
 a > h1:hover {
    color: black;
}

/* Header */

header{
    margin-top: 55px;
}

#header-image{
    width: 100%;
    height:20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1562771242-a02d9090c90c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
    box-shadow:0px 1px 6px rgb(238, 229, 229);
}


#hd-txt{
    text-align: center;
    line-height: 20vh;
    color: rgb(255, 255, 255);
    font-size: 8.5em;
    -webkit-text-stroke: 2px black;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
}

/* Main Content */
.container{
    background-color:rgba(0, 0, 0, .6);
}
.container  h1{
    text-align: center;
}

.row-padding{
    margin: 2em 1em;
}

option{
    color: black;
}
.bn{ 
    margin-top: 2rem;
    background-color: darkgrey;
}

.ft{
    padding: 0;
    background-color: darkgrey;
}

.ft:hover{
    background-color: white;
}

#img-align{
    padding: 3em 1em 1em 1em;
}

#car-pad{
    margin: 100px 20px 20px 20px;
}


/** Media Queries **/


    /* Querie for #hd-txt break point*/
 @media screen and (max-width: 800px) {
     #hd-txt{
         font-size: 5em;
     }
 }

 @media screen and (max-width: 600px) {
     #hd-txt{
         font-size: 3.5em;
     }
     header{
        margin-top: 110px;
    }
 }
 
@media screen and  (max-width: 330px) {
    #hd-txt{
        font-size: 3em;
    }
}